{% extends 'base.html'%}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<!--container with margin 5 in the Y-->
<body id="main"class="bg-dark">

    <nav class="navbar bg-secondary">
        <div class="container-fluid">
            <a href="" class="navbar-brand text-white">
                    TEST - [TITLE]
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="./" class="navlink active">Nowhere</a>
                </li>
            </ul>

        </div>    
        
    </nav>
    
    <section id="main-content"  >
        <div class="my-5">

            <div id="stockData"></div>

            <div id="b"></div>

        </div>
    </section>

</body>




{% endblock %}